  <header id="header">
    <div class="nav-warp">
      <nav id="nav" class="w">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
        <a id="nav-search" class="icon-search fr" onclick="show_search()" title="<%= __('header.search') %>"></a>
        <div id="nav-search-input" class="hide">
          <form class="search-form" onsubmit="return dispatch()">
            <input type="hidden" id="site" value="site:<%= config.url %>">
            <input type="text" id="q" class="input-text" name="q" placeholder="<%= __('header.search') %>">
            <input type="submit" value="" class="input-submit">
          </form>
        </div>
      </nav>
    </div>
    <div id="logo">
      <div class="hg">
      <% if(is_home()){ %>
        <h1 id="site-title">
          <a href="<%- url_for() %>"><%= config.title %></a>
        </h1>
        <% if (config.subtitle){ %>
          <h2 id="site-description"><%= config.subtitle %></h2>
        <% } %>
      <% } else { %>
        <h2 id="site-title">
          <a href="<%- url_for() %>"><%= config.title %></a>
        </h2>
        <% if (config.subtitle){ %>
          <p id="site-description"><%= config.subtitle %></p>
        <% } %>
      <% } %>
      </div>
    </div>
  </header>
